.body-wrapper {
    margin-top: 100px;

    #productOptionDropdown {
        text-transform: capitalize;
    }

    .table {
        max-width: 800px;
        margin: auto;
        tr {
            &.other-color {
                background-color: #afafaf;
            }
            td {
                img {
                    max-height: 200px;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.05, 1.05);
                    }
                }
                .price {
                    &:before {
                        content: '€';
                    }
                }
                .product-option {
                    text-transform: capitalize;
                }
            }
        }
        &.loading {

        }
        .loading-curtain {
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            background-color:rgba(255,255,255, 0.8);
            .fa {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
            }
        }
    }
}
