.body-wrapper {
    margin-top: 100px;

    .table {
        tr {
            &.other-color {
                background-color: #afafaf;
            }
            td {
                img {
                    max-height: 200px;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.05, 1.05);
                    }
                }
                .price {
                    &:before {
                        content: '€';
                    }
                }
            }
        }
    }
}
